<% if false %>
<div class="col-md-4" id="stream">
	<h3>Now On Air</h3>
	<div id='player'>
		<% if @music_player.youtube? %>
		<% else %>
		<% end %>
	</div>

</div>
<div class="col-md-4" id="setlist">
	<div id="next-music">
		<h3>Next Music</h3>
		<div class="detail">
			<%= @next_music %>
		</div>
	</div>

	<div id="playlist">
		<h3>Playlist</h3>
		<ul>
			<% @music_playlist.each do |m| %>
				<li class='music' style='list-style: none;'>
					<%= m %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div class="col-md-4">
	<a class="twitter-timeline" href="https://twitter.com/search?q=%23tweetjuke" data-widget-id="412901409101602816">#tweetjuke に関するツイート</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div><% end %>
